body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: auto;
    margin-bottom: 5px;
    max-width: 800px;
}

header {
    background-color: #ccffcc;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logotip {
    font-weight: bold;
    color: #ff9900;
}

nav a {
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
}

.poisk {
    text-align: center;
    padding: 20px;
    background-color: #ffffcc;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type="search"] {
    padding: auto;
    width: 500px;
    height: 40px;
    border: 2px solid #ff9900;
    border-radius: 25px;
    font-size: 16px;
}

button {
    padding: auto;
    background-color: #ff9900;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 90px;
    border: none;
}

button:hover {
    background-color: #ff9900;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

p {
    font-size: 16px;
    text-align: center;
}

legend {
    font-size: 20px;
    text-align: center;
}

a {
    font-size: 16px;
    border: 3px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
}

.tovari {
    text-align: center
}

.logotip h1 {
    margin-bottom: auto;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

header h1 {
    text-align: center;
    padding: auto;
}

a:hover {
    color: #cc6600;
}

hr {
    background-color: #ff9900;
    border-color: #ff9900;
}

.tovari a {
    text-decoration: underline;
    margin-bottom: 15px;
    color: #ff9900;
}

.tovari a:hover {
    color: #cc6600;
}

@media (min-width: 768px) {
    body {
        max-width: 550px;
    }
    
    input[type="search"] {
        width: 400px;
    }
    
    img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 1000px) {
    body {
        max-width: 700px;
    }
    
    input[type="search"] {
        width: 400px;
    }
    
    img {
        width: 170px;
        height: 170px;
    }
}

@media (min-width: 1280px) {
    img {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 320px) {
    img {
        width: 70px;
        height: 70px;
    }
    
    body {
        max-width: 320px;
    }
    
    input[type="search"] {
        width: 150px;
    }
    
    a {
        font-size: 12px;
    }
}