body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: auto;
    margin-bottom: 5px;
    max-width: 800px;
}

header {
    background-color: #ccffcc;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logotip {
    font-weight: bold;
    color: #ff9900;
}

.logotip h1 {
    margin-bottom: auto;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

nav a {
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
}

a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cc6600;
}

hr {
    background-color: #ff9900;
    border-color: #ff9900;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    justify-items: center;
}

legend {
    text-align: center;
    font-size: 18px;
}

button {
    padding: auto;
    background-color: #ff9900;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 140px;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    justify-content: center;
}

button:hover {
    transform: rotate(360deg);
    transition: transform 0.7s;
}

input[type=file] {
    width: 400px;
    border: 2px solid #ff9900;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
}

input[type=file]::file-selector-button {
    background-color: #ff9900;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 135px;
    border: none;
}

input, textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ff9900;
    border-radius: 25px;
    font-size: 16px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

p {
    font-size: 16px;
}

@media (min-width: 768px) {
    body {
        max-width: 550px;
    }
    
    input, textarea {
        width: 400px;
    }
}

@media (min-width: 1000px) {
    body {
        max-width: 700px;
    }
    
    input {
        width: 400px;
    }
}

@media (min-width: 320px) {
    body {
        max-width: 320px;
    }
    
    input, textarea {
        width: 150px;
    }
    
    p {
        font-size: 12px;
    }
    
    label {
        font-size: 12px;
    }
    
    input[type=file] {
        width: 150px;
        font-size: 12px;
    }
    
    a {
        font-size: 12px;
    }
}