body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: auto;
    margin-bottom: 5px;
    max-width: 800px;
}

header {
    background-color: #ccffcc;
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logotip {
    font-weight: bold;
    color: #ff9900;
}

.logotip h1 {
    margin-bottom: auto;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

nav a {
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
}

button {
    padding: auto;
    background-color: #ff9900;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 140px;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    justify-content: center;
}

button:hover {
    background-color: #ff9900;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

p {
    text-align: justify;
    font-size: 16px;
    
}

a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cc6600;
}

.tovarcen p {
    text-align: center;
}

hr {
    background-color: #ff9900;
    border-color: #ff9900;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

legend {
    text-align: center;
    font-size: 18px;
}